:root {
    --color: #00FFFF;
}
body {
    background-image: radial-gradient(circle, var(--color),black 70%);
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: crosshair;
}

.row {
    background-color:black;
    flex: 1;
    display: flex;
}
.box {
    outline: 1px solid var(--color);
    transition: transform 0.2s, background-color 0.6s;
}
.box:hover{
    transform: scale(1.02);
    outline: 3px groove;
}

button{
    align-self: center;
    margin: 5px 8px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s, border 0.4s;
}

button:hover{
    transform: scale(1.04);
}

h1{
    position: absolute;
    top: 0;
}

#opt{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 12px;
    border-radius: 10px;
    left: 5px;
    top: 80px;
}
