:root {
    --color: #FFFFFF;
}
body {
    background-image: radial-gradient(circle, var(--color),black 70%);
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.row {
    cursor: cell;
    background-color:black;
    flex: 1;
    display: flex;
}
.box {
    outline: 1px solid var(--color);
    transition: transform 0.2s, background-color 0.4s;
}
.box:hover{
    transform: scale(1.02);
    outline: 4px ridge;
}

button{
    align-self: center;
    margin: 5px 8px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s, border 0.4s;
}

button:hover{
    transform: scale(1.04);
}

h1{
    margin: 0;
    text-align: center;
    color: var(--color);
    text-shadow: 3px 2px black;
}

.opt{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#color {
    left: 5px;
    top: 80px;

}
#general {
    right: 5px;
    top: 80px;
}

#color-pick{
    padding: 0px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}

#color-pick:hover{
    transform: scale(1.1);
    border: var(--color);
}

#default-color{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.color-btn {
    margin: 0px 0px;
    border-color: transparent;
    border-radius: 0px;
    padding: 10px 16px;
}
.color-btn:hover{
    border-color: aliceblue;
    border-radius: 4px;
    transform: scale(1.3);
}

#grid {
    width: 70px;
}